/*
 Author: Ivo Culic - ifkas
 Author URI: http://www.tajfa.com
 Item Name: Rondo - rounded social icon font
 Item URI: http://www.tajfa.com/projects/rondo
 Purpose: --||--
 Version: 1.0
*/

/*
   ===============================
   ========== RESETS =============
   ===============================
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

/* DEMO PAGE */

body {
	background: url(img/bg.png) repeat;
	font-family: 'londonmmregular', Verdana, sans-serif;
	color: #5b4a42;
	font-size: 14px;
}

#container {
	margin: 0 auto;
	width: 480px;
	text-align: center;
}

h1, h3 {
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	margin: 20px 0px 0px;
}

h3 {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 20px;
}

header {
	position: relative;
	overflow: hidden;
	height: auto;
}

header span {
	cursor: default;
	display: inline-block;
	font-family: 'rondo', Arial, sans-serif;
	font-size: 46px;
	padding: 18px;
}

header span:hover {
	color: #b54538;
	background-color: #ffffff;
	/*border-radius: 100px;*/
	padding: 17px;
	border: 1px solid #5b4a42;
	-webkit-transition: background .3s ease, color 0.2s linear;
	-moz-transition: background .3s ease, color 0.2s linear;
}

p { 
	margin: 20px 0px; 
}

a, a:visited { 
	color: #b54538; 
	text-decoration: none; 
	outline: 0; 
}

a:hover, a:focus { 
	color: #000; 
}

p a, p a:visited { 
	line-height: inherit; 
}

::selection {
	background-color: #b54538;
	color: #ffffff;
}

::-moz-selection {
	background-color: #b54538;
	color: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    position: relative;
    margin:5px;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
        background-color: #BFCC92;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* USE FROM HERE */

@font-face {
	font-family: 'rondo';
	src: url('fonts/rondo/rondo.eot?#') format('eot'),
		url('fonts/rondo/rondo.svg#rondo') format('svg'),
		url('fonts/rondo/rondo.woff') format('woff'),
		url('fonts/rondo/rondo.woff2') format('woff2'),
		url('fonts/rondo/rondo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'londonmmregular';
    src: url('fonts/london/londonmm-webfont.eot');
    src: url('fonts/london/londonmm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/london/londonmm-webfont.woff') format('woff'),
         url('fonts/london/londonmm-webfont.ttf') format('truetype'),
         url('fonts/london/londonmm-webfont.svg#londonmmregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'rondo';
	content: attr(data-icon);
	speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'rondo';
	font-style: normal;
	speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	}

/* Icons */
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-yahoo:before { content: '\e801'; } /* '' */
.icon-xing:before { content: '\e802'; } /* '' */
.icon-wordpress:before { content: '\e803'; } /* '' */
.icon-windows:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-tumblr:before { content: '\e807'; } /* '' */
.icon-stumbleupon:before { content: '\e808'; } /* '' */
.icon-stackoverflow:before { content: '\e809'; } /* '' */
.icon-soundcloud:before { content: '\e80a'; } /* '' */
.icon-skype:before { content: '\e80b'; } /* '' */
.icon-sharethis:before { content: '\e80c'; } /* '' */
.icon-rss:before { content: '\e80d'; } /* '' */
.icon-reddit:before { content: '\e80e'; } /* '' */
.icon-posterious:before { content: '\e80f'; } /* '' */
.icon-pinterest:before { content: '\e810'; } /* '' */
.icon-picasa:before { content: '\e811'; } /* '' */
.icon-myspace:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */
.icon-lastfm:before { content: '\e814'; } /* '' */
.icon-instagram:before { content: '\e815'; } /* '' */
.icon-googleplus:before { content: '\e816'; } /* '' */
.icon-github:before { content: '\e817'; } /* '' */
.icon-forrst:before { content: '\e818'; } /* '' */
.icon-flickr:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-dribbble:before { content: '\e81b'; } /* '' */
.icon-email:before { content: '\e81c'; } /* '' */
.icon-deviantart:before { content: '\e81d'; } /* '' */
.icon-delicious:before { content: '\e81e'; } /* '' */
.icon-creattica:before { content: '\e81f'; } /* '' */
.icon-coroflot:before { content: '\e820'; } /* '' */
.icon-cargo:before { content: '\e821'; } /* '' */
.icon-blogger:before { content: '\e822'; } /* '' */
.icon-behance:before { content: '\e823'; } /* '' */
.icon-apple:before { content: '\e824'; } /* '' */
.icon-android:before { content: '\e825'; } /* '' */
.icon-amazon:before { content: '\e826'; } /* '' */
.icon-px:before { content: '\e827'; } /* '' */

/* EOF */
